<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta charset="utf-8">
        <title>
            scriptGooey | a prototype by Fadi Asfour
        </title><!-- The stylesheets -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h2>ScriptGooey</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div id="StencilLibraryList" class="clearfix pull-left">
                        <!-- put icon library here -->
                    </div> 
                </div>
                <div class="col-lg-6">
                    <div id="editorButtons" class="clearfix pull-right">
                        <!-- editor buttons -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="editorBoard" class="clearfix"> 
                        <div id="drawingBoard" class="clearfix">
                        <!-- Diagram editor space -->
                        </div>
                    </div>
                    <div id="modal"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                <ul class="nav nav-tabs" id='tabList' >
                    <li class="active">
                        <a href="#SourceCode"  data-toggle="tab">Source Code</a>
                    </li>
                    <li>
                        <a href="#library" data-toggle="tab">Library</a>
                    </li>
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane active" id="SourceCode">
                        <!-- source code output -->
                        <pre id='code'></pre>
                    </div>
                    <div class="tab-pane" id="library">
                        <pre id='def'></pre>
                    </div>
                </div>

                
                    
            </div>
        </div>
        <script src="/js/lib/jquery-2.0.3.min.js"></script>
        <script src="/js/lib/jquery-ui-1.10.3.custom.js"></script>
        <script src="/js/lib/jquery.ui.position.js"></script>
        <script src="/js/lib/jquery.ui.touch-punch.js"></script>
        <!-- <script src="/js/lib/bootstrap.js"></script> -->
        <script src="/js/lib/prettify.js"></script>

        <script data-main="/js/main.js" src="/js/lib/require.js" type="text/javascript"></script>
    </body>
</html>
