@import url('bootstrap.css');

@import url('bootstrap-glyphicons.css');
/*
@import url('jquery.contextMenu.css');
*/
@import url('jquery-ui-1.10.3.custom.css');
@import url('contextMenu.css');
.container {
    margin-top:10px;
}


#editorBoard{
    height:500px;
    width:100%;
    margin-top:44px;
    margin-left: auto;
    position: relative;
    font-size: 80%;
    margin-right: auto;
    border: 2px solid #456;
    overflow: hidden;
    border-radius: 10px;
    background-color:#eaedef;
}
#editor {
    /*
    height:400px;
    width:600px;
    */
    height:500px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.icon-item { 
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.9;
    filter:alpha(opacity=80);
    line-height:2.4em; 
    text-align:center;
    width: auto;
    min-width: 8em;
    height: 5em;
    z-index:20; position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    padding:0.6em 1.6em;
    font-size:1.0em;
}

.icon:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.activeBlock {
    border:1px dotted green;
    background-color: #ddd;
}

.hover {
    border:1px dotted red;
}


._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }
.hl { border:3px solid red; }
#debug { position:absolute; background-color:black; color:red; z-index:5000 }

._jsPlumb_dragging { z-index:4000; }

.aLabel {
    background-color:white;
    padding:0.4em;
    font:12px sans-serif;
    color:#444;
    z-index:21;
    border:1px dotted gray;
    opacity:0.8;
    filter:alpha(opacity=80);
}
